{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Password Change Done {% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center logo my-4">
    <a href="{% url 'index' %}">Password Change Done</a>
  </h1>

<div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Check your inbox</h3>
            <P>follow the instructions that were sent to your email
            
          </div>
       </div>
      </div>
    </div>
{% endblock %}
