{% load widget_tweaks %}
{% load crispy_forms_field %}
{% for field in form %}
	<div class="form-group">
		{{field.label_tag}}

		{% if form.is_bound %}
      		{% if field.errors %}
				{% crispy_field field class="form-control is-invalid" %}
        			{% for error in field.errors %}
						<div class="invalid-feedback">
						{{ error }}
					    </div>
				    {% endfor %}
			
			{% else %}
        		{% crispy_field field class="form-control is-valid" %}
      		{% endif %}
		
		{% else %}
      		{% crispy_field field class="form-control" %}
    	{% endif %}

		{% if field.help_text %}
      <small class="form-text text-muted">
        {{ field.help_text|safe }}
      </small>
    {% endif %}

	</div>	
{% endfor %}
